# Virtual environment
.venv/
venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
